
/*<===========global===========>*/

* { box-sizing: border-box; }

ul, li, h1, h2, p, a {
  font-family:'Muli', Arial, Helvetica, sans-serif;
  color:#333a40;
  font-size:1em; 
}

h1 {
  font-weight: 600;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.1em;
  font-weight: 400;
}

@media (max-width:780px) {
  p {
  font-size:.8em;
}

}

/*<===========shared===========>*/

#container {
  max-width:1400px;
  padding: 0 4%;
  margin-left: auto;
  margin-right: auto;
}

#about, #work, #resume {
  margin-top:20%;
}

.column img {
  width:100%;
}

.scroll {
  cursor: pointer;
}

#nav_about, #nav_work, #nav_resume {
  cursor: pointer;
}

/*<===========home===========>*/

#home {
  margin-top: 5%;
}

#home img, #home li {
  display: inline-block;
  vertical-align: top;
}

#home h1, #home h2, #home ul {
  margin:0px;
}

#name {
  position:absolute;
  bottom:0;
}

#home ul {
  height:40px;
  padding-left: none;
  float: right;
  
}

#home li a {
  text-decoration: none;
}

#home li:hover {
  font-weight: 600;
}

#home li {
  padding:0px 15px;
  line-height: 40px;
}

#logo {
  width:40px;
  height:40px;
}

#placeholder {
  background-color: #f6f6f6;
  height:600px;
  margin-left:35%;
  position: relative;
}

@media (max-width:780px) {
  #placeholder { 
    margin-left:0px;
  }
  #name {
    font-size:.6em;
    position:static;
    margin-top:15px;
  }
  #home h1 {
    float:left;
  }
  #home h2 {
    float:right;
    line-height: 21px;
    height: 21px;
  }
}

#img_content {
  width:100%;
  margin-top:25px;
  position:relative;
  height:600px;
}

/*<===========about===========>*/

#about {
  overflow: auto;
}

.row {
  clear:both;
}

.column {
  float:left;
}

.two {
  width:50%;
}

#left_brain_text {
  padding-right:40px;
  transition-timing-function: ease;
}

#right_brain_text {
  text-align: right;
  transition-timing-function: ease;
}

#brain {
  margin-top:10px;
  padding-right:40px;
}

#brain img {
  float:left;
  width:50%;
}

#right_brain:hover {
  opacity: 0.7;
}

#left_brain:hover {
  opacity: 0.7;
}

#left_brain, #right_brain {
  cursor: pointer;
}

/*<===========work===========>*/

#work {
   overflow: auto;
}

#work_text {
  display:inline-block;
}

#behance {
  float: right;
  width: 35px;
  height:35px;
  margin:18px 0px;
}

.three {
  width:33.3333%;
  padding:10px;
}

.six {
  width:50%;
  margin-top: 5%;

}

.twelve {
  width:100%;
}

#work p {
  max-width: 750px
}

.work_img {
  box-shadow: -5px 5px 18px -5px rgba(0,0,0,0.1);
  border-radius: 100%;
  width:50% !important;
}

.clear {
  float: left;
}

.six p {
  margin-top:10%;
}

.top {
  margin-top:10%;
}






/*<===========resume===========>*/

#resume_text{
  display: inline-block;
}

#resume_text, #download_text {
  margin: 3% 0px;
}

#download_text, #download_button {
  float: right;
  line-height: 35px;
  height:35px;
}

#download_text {
  margin-right:15px;
}


#resume_img {
  width:100%;
  margin-bottom:5%;
}

#download_button {
  width:35px;
  height: 35px;
  cursor: pointer;
  margin: 3% 0px;
}

#download_text:hover {
  font-weight: 600;
}

.font-weight {
  font-weight: 600;
}

#footer {
  margin-top:5%;
  text-align: center;
  opacity: .5;
}

#footer p {
 /* display: inline-block;*/
}

#top_text {
  font-weight: 600;
  cursor: pointer;
}
